* {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .tabelaTH {
    border: 1px solid;
    padding: 5px;
  }
  
  .tabelaTD {
    border: 1px solid;
    padding: 5px;
  }
  
  
  .title-login-page {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans';
    font-size: 3rem;
    margin-top: 2.5rem;
  }
  
  .div-page-login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
  }
  
  .img-page-login {
    width: 60vh;
  }
}

@media only screen and (max-width: 768px) {
  .title-login-page {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans';
    font-size: 2rem;
    margin-top: 2.5rem;
  }

  .div-page-login {
    font-family: 'Open Sans';
  }
  
  .img-page-login {
    display: block;
    text-align: center;
  }

  .form-input-login-page {
    display: block;
    text-align: center;
  }

  .input-password-login-page {
    margin: 1rem 0  2rem 0;
  }
  
  .btn-success {
    width: 13rem;
  }

  .tabelaTH {
    border: 1px solid;
    padding: 5px;
  }
  
  .tabelaTD {
    border: 1px solid;
    padding: 5px;
  }
  
  
  
}