* {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .title-login-page {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans';
    font-size: 3rem;
    margin-top: 2.5rem;
    animation-name: welcome;
    animation-duration: 1.8s;
  }
  
  .div-page-login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    animation-name: welcome;
    animation-duration: 1.5s;
  }
  
  .img-page-login {
    width: 60vh;
    animation-name: welcome;
    animation-duration: 1.5s;
  }

  .wallet-page {
    font-family: 'Open Sans';
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .div-user-wallet-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 0px 0px;
    animation-name: welcome;
    animation-duration: 1.8s;
    font-size: 1.5rem;
  }
  
  .pessoa-usuaria-wallet-page {
    font-weight: 500;
  }

  .pessoa-usuaria-green-wallet-page {
    color: rgb(0, 197, 0);
    font-weight: 500;
    margin-left: 15px;
  }
  
  .div-total-despesa-wallet-page {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .despesa-vermelha {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 8px;
    color: rgb(224, 79, 79);
  }
  
  .despesa-verde {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 8px;
    color: rgb(0, 197, 0);
  }
  
  .moeda-conversao-wallet-page {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(0, 197, 0);
    margin: 5px ;
  }
  
  .div-img-currency {
    display: flex;
    justify-content: center;
    height: 220px;
  }
  
  .div-img-despesas-moeda {
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
  }
  
  .text-inputs-wallet-page {
    font-size: 1rem;
    margin-right: 5px;
    font-weight: normal;
  }
  
  .form-wallet-page {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  
  .btn-wallet-page {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 20px;
  }
  
  .div-tabela-despesas {
    margin: 35px 15px 0 15px;
  }
  
  .title-tabela-despesas {
    margin-bottom: 20px;
  }
  
  .table-bordered {
    text-align: center;
  }
  
}

/* ============= MOBILE ============= */
@media only screen and (max-width: 768px) {
  
 /*  html {
    width: 100vh;
  } */

  /* body {
    width: 100vh;
  } */

  .title-login-page {
    font-family: 'Open Sans';
    font-size: 1.6rem;
    margin: 2rem 0 2rem 0;
    animation-name: welcome;
    animation-duration: 1.6s;
    text-align: center;
  }

  .div-page-login {
    font-family: 'Open Sans';
    animation-name: welcome;
    animation-duration: 1.6s;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .div-img-page-login {
    width: 50%;
    margin: 2rem;
  }

  .img-page-login {
    width: 100%;
  }

  .form-input-login-page {
    text-align: center;
  }

  .input-password-login-page {
    margin: 1rem 0  2rem 0;
  }
  
  .btn-success {
    width: 13rem;
  }
  
  /* WALLET PAGE */

  .wallet-page {
    font-family: 'Open Sans';
  }

  .div-user-wallet-page {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0px 0px;
    animation-name: welcome;
    animation-duration: 1.8s;
  }
  
  .pessoa-usuaria-green-wallet-page {
    color: rgb(0, 197, 0);
    margin-left: 10px;
    font-weight: 500;
    font-size: 2.2rem;
  }
  
  .pessoa-usuaria-wallet-page {
    font-weight: 500;
    font-size: 2.2rem;
  }

  .div-img-despesas-moeda {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .div-despesas-moeda {
    display: flex;
    flex-direction: column;
  }

  .despesa-vermelha {
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 8px;
    color: rgb(224, 79, 79);
  }
  
  .despesa-verde {
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 8px;
    color: rgb(0, 197, 0);
  }
  
  .div-despesas-moeda {
    margin-bottom: 2rem;
  }

  .div-total-despesa-wallet-page {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .moeda-conversao-wallet-page {
    color: rgb(0, 197, 0);
    margin-left: 8px;
    font-size: 2.2rem;
  }
  
  .form-wallet-page {
    font-size: 2rem;
    flex-direction: column;
    text-align: center;
  }
  
  .inputs-wallet {
    height: 59px;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .inputs-select-wallet {
    width: 533px;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .option-currency {
    font-size: 1rem;
  }
  
  .label-select-currency {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-wallet-page {
    display: flex;
    justify-content: center;
  }

  .btn-wallet-page button {
    width: 533px;
    font-size: 2rem;
    margin: 1.5rem 1.5rem 2rem 1.5rem;
  }
  
}

@keyframes welcome {
  from {
    opacity: 0;
    transform: translate3d(0, -40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}




